.logo-header {
	margin-block-start: rem(60px);
	margin-block-end: rem(160px);
	@include flex-center;
	flex-direction: column;
	.logo {
		// margin-block-start: rem(32px);
		margin-block-end: rem(7px);
		width: 50px;
	}
	h1 {
		font-family: 'SourceSansPro-Regular', sans-serif;
		color: black;
		font-size: rem(34px);
	}
	.sub-header {
		font-family: 'SourceSansPro-Bold', sans-serif;
		color: $accent-clr;
		font-weight: bold;
		font-size: rem(16px);
	}
}
