// Colors
$primary-color: #0F4C81;
$secondary-color: #1C7C9C;
$accent-color: #F2C94C;
$success-color: #27AE60;
$error-color: #EB5757;
$bg-color: #fff;
$card-background-color: #2D2D2D;
$text-color: #E0E0E0;
$text-light-color: #9A9A9A;
$border-color: #3F3F3F;

// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-unit: 1rem;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;