body {
	background-color: #fff;
}
@mixin wide-btn() {
	width: rem(300px);
	height: rem(40px);
	border-radius: rem(6px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.signup {
	// display: flex;
	@include flex-center;
	flex-direction: column;
	gap: 1.2em;
	form {
		color: #333333;
		display: flex;
		flex-direction: column;
		gap: 1.2em;
		.input-wrapper {
			@include wide-btn;
			display: flex;
			align-items: center;
			font-size: 10px;
			position: relative;
			input {
                    &.success {
                         border: 1px solid green;
                    }
                    &.error {
                         border: 1px solid red;
                    }
				padding: 0.5em 2em;
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
                    &:focus {
                         border: 1px solid orange;
                    }
			}
			.error-msg {
				position: absolute;
				bottom: -50%;
				right: 0;
				color: red;
                    font-size: 10px;
			}
			.toggle-password {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10%;
				cursor: pointer;
				// color: lightgray;
				svg {
					width: 16px;
				}
			}
		}
		.submit-btn {
			@include wide-btn;
			background-color: orange;
			color: #fff;
               &.disabled {
                    // background-color: lightgray;
                    opacity: 50%;
                    cursor: not-allowed;
               }
		}
	}
}
