.container {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block: 10px;

    @include for-mobile-layout {
        max-width: initial;
    }

    @include for-tablet-layout {
        max-width: $mobile-breakpoint;
    }

    @include for-normal-layout {
        max-width: $tablet-breakpoint;
    }

    @include for-wide-layout {
        max-width: $normal-breakpoint;
    }
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: rem(30px);
    place-items: center;
}